# Директорія з провайдерами і кешем
.terraform/

# Файли стану
*.tfstate
*.tfstate.backup

# Локальні змінні (паролі, ключі)
terraform.tfvars

# Lock-файл (можна залишити локально, в репо не обов’язково)
.terraform.lock.hcl

# Тимчасові або тестові файли
test.tf
provider.tfprovider.tf
